		<TABLE BORDER="0" WIDTH="100%" BGCOLOR="#FFFFFF">
		<TR>
				<TD BGCOLOR="#FF0000"><SPAN CLASS="section-head">ReciPants</SPAN></TD>
		</TR><TR>
				<FORM ACTION="recipe_search.cgi" NAME="search_form">
				<INPUT NAME="name"         TYPE="hidden" VALUE="on">
				<INPUT NAME="ingredients"  TYPE="hidden" VALUE="on">
				<INPUT NAME="instructions" TYPE="hidden" VALUE="on">
			<TD>
				<SPAN CLASS="text">
				Search Recipes: <INPUT NAME="search_for" TYPE="text" SIZE="10">
				</SPAN>
				<SPAN CLASS="text">
				<BR>
				<A HREF="recipe_search.cgi?cmd=show_advanced" TITLE="Advanced Search">Advanced Search</A>
				<BR>
				<A HREF="category.cgi?cmd=tree" TITLE="Show Category Tree">Category Tree</A>
				<BR>
				<A HREF="category.cgi?category_id=0" TITLE="Show Categories">Categories</A>		
				</SPAN>
			</TD>
				</FORM>
		</TR>
		</TABLE>
