<BR>

<TABLE BORDER="0" CELLSPACING="2" CELLPADDING="3" WIDTH="100%" BGCOLOR="#FFFFFF">
<TR>
	<FORM ACTION="recipe.cgi" NAME="email_form">
	<INPUT TYPE="hidden" NAME="recipe_id" VALUE="REP_RECIPE_ID">
	<INPUT TYPE="hidden" NAME="cmd" VALUE="email">
	<TD BGCOLOR="#99CCFF">
		<SPAN CLASS="text">
		<B>Email</B> this recipe to a friend
		</SPAN>
	</TD>
</TR><TR>
	<TD>
		<SPAN CLASS="text">
		Email Address:<BR>
		<INPUT NAME="to_email" TYPE="text" SIZE="25"><BR>
		Message (optional):<BR>
		<TEXTAREA NAME="message" COLS="20" ROWS="5" WRAP="virtual"></TEXTAREA><BR>
		<CENTER>
		<INPUT TYPE="submit" VALUE="Email Recipe">
		</CENTER>
		</SPAN>
	</TD>
</TR>
	</FORM>
</TABLE>

