<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML>
<HEAD>
	<TITLE>REP_RECIPE_NAME</TITLE>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
	<META HTTP-EQUIV="Content-Language" CONTENT="en">
	<META NAME="Resource-Type" CONTENT="document">
	<META NAME="Distribution" CONTENT="global">
	<META NAME="Robots" CONTENT="all">
	<META NAME="Revisit-After" CONTENT="30 days">
	<META NAME="MSSmartTagsPreventParsing" CONTENT="TRUE">
	<STYLE TYPE="text/css" MEDIA="screen">
		.head {	
				font-family:		Arial,Helvetica,sans-serif;
				font-size:			14pt;
				font-weight:		bold;
				}
		.footer	{
				font-family:		Arial,Helvetica,sans-serif;
				font-size:			7pt;
				}
		.text {
				font-family:		Arial,Helvetica,sans-serif;
				font-size:			10pt;
				}
		.section-head {
				font-family:		Arial,Helvetica,sans-serif;
				font-size:			12pt;
				font-weight:		bold;
				}
	</STYLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000">


<TABLE BORDER="0" WIDTH="400">
<TR>
	<TD>

		<SPAN CLASS="head">REP_RECIPE_NAME</SPAN>

		<BR><BR><BR>

		<SPAN CLASS="section-head">Ingredients</SPAN>
		<BR><BR>
		<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" WIDTH="100%">
		<TR>
			<TD><SPAN CLASS="text"><B>Ingredient</B></SPAN></TD>
			<TD ALIGN="RIGHT"><SPAN CLASS="text"><B>Qty.</B></SPAN></TD>
			<TD><SPAN CLASS="text">&nbsp;</SPAN></TD>
			<TD ALIGN="LEFT"><SPAN CLASS="text"><B>Unit</B></SPAN></TD>
		</TR>
		REP_INGREDIENTS
		</TABLE>

		<BR><BR>

		<SPAN CLASS="section-head">Instructions</SPAN>
		<BR>
		<SPAN CLASS="text">
		REP_INSTRUCTIONS
		</SPAN>

		<BR><BR><BR>

		<SPAN CLASS="section-head">Yield: </SPAN>
		<SPAN CLASS="text">REP_YIELD_QTY REP_YIELD_UNITS</SPAN>

		<BR><BR>

		<SPAN CLASS="section-head">Source: </SPAN>
		<SPAN CLASS="text">REP_SOURCE</SPAN>

		<BR><BR>

		<SPAN CLASS="section-head">Contributor: </SPAN>
		<SPAN CLASS="text">REP_SUBMITTER_NAME</SPAN>

		<BR><BR>

		<SPAN CLASS="footer">
		Exported by REP_APP_NAME vREP_APP_VERSION at REP_APP_HOST_TITLE ( REP_APP_HOST_URL )
		</SPAN>

	</TD>
</TR>
</TABLE>

</BODY>
</HTML>
