
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="3" WIDTH="100%" BGCOLOR="#99CCFF">
<TR BGCOLOR="#CCFF99">
	<FORM ACTION="recipe_search.cgi" NAME="search_form">
	<TD COLSPAN="2" ALIGN="CENTER">
		<SPAN CLASS="text">
		<B>Search</B> recipes for <INPUT NAME="search_for" TYPE="text" SIZE=15>
		<INPUT TYPE="submit" VALUE="Search">
		</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN=RIGHT VALIGN=TOP>
		<SPAN CLASS="text">Search in</SPAN>
	</TD>
	<TD VALIGN="TOP">
		<SPAN CLASS="text">
		<INPUT NAME="name" TYPE="checkbox" CHECKED> Recipe Name<BR>
		<INPUT NAME="ingredients" TYPE="checkbox"> Ingredients<BR>
		<INPUT NAME="instructions" TYPE="checkbox"> Instructions
		</SPAN>
	</TD>
</TR>
<!--
<TR BGCOLOR="#99CCFF">
	<TD COLSPAN="2" ALIGN="CENTER">
		<SPAN CLASS="text">
		Search for
		<SELECT NAME="search_type">
			<OPTION VALUE="any">any</OPTION>
			<OPTION VALUE="all">all</OPTION>
		</SELECT>
		of the words
	</TD>
</TR>
-->
	</FORM>
</TABLE>
