
<TABLE BORDER="0" CELLSPACING="1" CELLPADDING="3" WIDTH="100%">
<TR BGCOLOR="#CCFF99">
	<TD COLSPAN="2">
		<SPAN CLASS="section-head">Program Configuration</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT">
		<SPAN CLASS="text"><A HREF="REP_APP_URL" TARGET="_blank">REP_APP_NAME</A> version</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">REP_APP_VERSION</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">Web Site Title</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">REP_APP_HOST_TITLE</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">Main Site URL</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text"><A HREF="REP_APP_HOST_URL" TARGET="_blank">REP_APP_HOST_URL</A></SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">REP_APP_NAME installation URL</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text"><A HREF="REP_APP_INSTALLED_URL" TARGET="_blank">REP_APP_INSTALLED_URL</A></SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">Cookie Domain</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">REP_COOKIE_DOMAIN</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">Cookie Path</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">REP_COOKIE_PATH</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">Supported Languages</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">REP_SUPPORTED_LANGUAGES</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">Default Language</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP">
		<SPAN CLASS="text">REP_DEFAULT_LANGUAGE</SPAN>
	</TD>
</TR>
</TABLE>

<BR>

<TABLE BORDER="0" CELLSPACING="1" CELLPADDING="3" WIDTH="100%">
<TR BGCOLOR="#CCFF99">
	<TD COLSPAN="2">
		<SPAN CLASS="section-head">ReciPants Data</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">Total Users</SPAN>
	</TD>
	<TD ALIGN="RIGHT" WIDTH="50%">
		<SPAN CLASS="text">REP_TOTAL_USERS</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">Normal Users</SPAN>
	</TD>
	<TD ALIGN="RIGHT" WIDTH="50%">
		<SPAN CLASS="text">REP_NORMAL_USERS</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">Suspended Users</SPAN>
	</TD>
	<TD ALIGN="RIGHT" WIDTH="50%">
		<SPAN CLASS="text">REP_SUSPENDED_USERS</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">Recipes</SPAN>
	</TD>
	<TD ALIGN="RIGHT" WIDTH="50%">
		<SPAN CLASS="text">REP_RECIPES</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">Categories</SPAN>
	</TD>
	<TD ALIGN="RIGHT" WIDTH="50%">
		<SPAN CLASS="text">REP_CATEGORIES</SPAN>
	</TD>
</TR>
</TABLE>

<BR>

<TABLE BORDER="0" CELLSPACING="1" CELLPADDING="3" WIDTH="100%">
<TR BGCOLOR="#CCFF99">
	<TD COLSPAN="2">
		<SPAN CLASS="section-head">Environment</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">Operating System</SPAN>
	</TD>
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">REP_OS_NAME</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">Perl version</SPAN>
	</TD>
	<TD ALIGN="LEFT" WIDTH="50%">
		<SPAN CLASS="text">REP_PERL_VERSION</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT" VALIGN="TOP" WIDTH="50%">
		<SPAN CLASS="text">Database Driver</SPAN>
	</TD>
	<TD ALIGN="LEFT" VALIGN="TOP" WIDTH="50%">
		<SPAN CLASS="text">REP_DB_DRIVER_NAME vREP_DB_DRIVER_VERSION</SPAN>
	</TD>
</TR>
</TABLE>
