<TABLE BORDER="0" CELLSPACING="1" CELLPADDING="3" WIDTH="100%">
<TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT">
		<SPAN CLASS="text">Web site</SPAN>
	</TD>
	<TD ALIGN="LEFT">
		<SPAN CLASS="text">REP_URL</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT">
		<SPAN CLASS="text">Email address</SPAN>
	</TD>
	<TD ALIGN="LEFT">
		<SPAN CLASS="text">REP_EMAIL</SPAN>
	</TD>
</TR><TR BGCOLOR="#CCCCCC">
	<TD ALIGN="LEFT">
		<SPAN CLASS="text">Recipes submitted</SPAN>
	</TD>
	<TD ALIGN="LEFT">
		<SPAN CLASS="text">REP_RECIPE_COUNT</SPAN>
	</TD>
</TR>
</TABLE>

REP_RECIPE_LIST