<FORM ACTION="user.cgi" METHOD="POST">
<INPUT TYPE="hidden" NAME="cmd" VALUE="save_passwd">

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="3" WIDTH="350">
<TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCFF99">
		<SPAN CLASS="section-head">Password</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCCCCC">
		<SPAN CLASS="text">
		Current password: <INPUT TYPE="password" NAME="old_password" SIZE="10">
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#99CCFF">
		<SPAN CLASS="text">
		Choose a new password between 6 and 20 characters in length.
		Please enter it twice to make sure it's right.
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCCCCC">
		<SPAN CLASS="text">
		Once: <INPUT TYPE="password" NAME="new_password_1" SIZE="10">
		&nbsp;&nbsp;&nbsp;&nbsp;
		Twice: <INPUT TYPE="password" NAME="new_password_2" SIZE="10">
		</SPAN>
	</TD>
</TR>
</TABLE>

<BR>

<CENTER>
<INPUT TYPE="submit" VALUE="Change My Password">
</CENTER>

</FORM>