<FORM ACTION="user.cgi" METHOD="POST" NAME="user_signup_form">
<INPUT TYPE="hidden" NAME="cmd" VALUE="save_new">

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="3" WIDTH="100%">
<TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCFF99">
		<SPAN CLASS="section-head">Username</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#99CCFF">
		<SPAN CLASS="text">
		Choose a username between 2 and 30 characters in length.
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCCCCC">
		<SPAN CLASS="text">
		<INPUT TYPE="text" NAME="user_name" VALUE="REP_USER_NAME" SIZE="35">
		</SPAN>
	</TD>
</TR>
</TABLE>

<BR>

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="3" WIDTH="100%">
<TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCFF99">
		<SPAN CLASS="section-head">Email Address</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#99CCFF">
		<SPAN CLASS="text">
		Enter your email address below. You password will be sent
		to this address, so use your real one.
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCCCCC">
		<SPAN CLASS="text">
		<INPUT TYPE="text" NAME="email" VALUE="REP_EMAIL" SIZE="35">
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#99CCFF">
		<SPAN CLASS="text">
		Other users will be able to see your email address when they view
		your Profile. If you would like to keep your email address private,
		check the box below.
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCCCCC">
		<SPAN CLASS="text">
		<INPUT TYPE="checkbox" NAME="email_private">
		Hide my email address in my Profile
		</SPAN>
	</TD>
</TR>
</TABLE>

<BR>

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="3" WIDTH="100%">
<TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCFF99">
		<SPAN CLASS="section-head">URL</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#99CCFF">
		<SPAN CLASS="text">
		If you have a web site, enter the address (including the http:// part):
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCCCCC">
		<SPAN CLASS="text">
		<INPUT TYPE="text" NAME="url" VALUE="REP_URL" SIZE="35">
		</SPAN>
	</TD>
</TR>
</TABLE>

<BR>

<CENTER>

<INPUT TYPE="submit" VALUE="Sign Me Up!"> 
<INPUT TYPE="button" VALUE="Cancel" CLASS="button" onClick="history.go(-1);">
</FORM>

</CENTER>
