<FORM ACTION="user.cgi" METHOD="POST">
<INPUT TYPE="hidden" NAME="cmd" VALUE="send_passwd">

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="3" WIDTH="100%">
<TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCFF99">
		<SPAN CLASS="section-head">Enter Your Email Address</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#99CCFF">
		<SPAN CLASS="text">
		Your Username and Password will be sent to the email address
		you registered with. Enter that address below.
		</SPAN>
	</TD>
</TR><TR>
	<TD ALIGN="LEFT" BGCOLOR="#CCCCCC">
		<SPAN CLASS="text">
		Email Address: <INPUT TYPE="text" NAME="email" SIZE="20">
		</SPAN>
	</TD>
</TR>
</TABLE>

<BR>

<CENTER>
<INPUT TYPE="submit" VALUE="Email My Password!">
</CENTER>

</FORM>
